In [1]:
import numpy as np
import pandas as pd

In [2]:
ml_kg = pd.read_csv("../knowledge-graphs/props_wikidata_movielens_small.csv", 
                    usecols=["movieId", "title", "prop", "obj"])
ml_kg

,movieId,title,prop,obj
0,199,The Umbrellas of Cherbourg,director,Jacques Demy
1,199,The Umbrellas of Cherbourg,screenwriter,Jacques Demy
2,199,The Umbrellas of Cherbourg,composer,Michel Legrand
3,199,The Umbrellas of Cherbourg,genre,drama
4,199,The Umbrellas of Cherbourg,genre,musical film
...,...,...,...,...
295782,179053,2048: Nowhere to Run,cast member,Orion Ben
295783,179053,2048: Nowhere to Run,director of photography,Pierre Gill
295784,179053,2048: Nowhere to Run,country of origin,United States of America
295785,179053,2048: Nowhere to Run,narrative location,Los Angeles
295786,179053,2048: Nowhere to Run,title,2048: Nowhere to Run

In [3]:
def check_existance(kg: pd.DataFrame, title: str, obj: str, 
                    title_col: str, obj_col:str) -> tuple:
    
    rel_rows = kg[(kg[title_col] == title) & (kg[obj_col] == obj)]
    item_rows = kg[kg[title_col] == title]
    
    return rel_rows, item_rows

In [4]:
e = check_existance(ml_kg, "Apollo 13", "Tom Hanks", "title", "obj")
e[0]

      movieId      title         prop        obj
4814      150  Apollo 13  cast member  Tom Hanks

In [5]:
e[1]

,movieId,title,prop,obj
4801,150,Apollo 13,director,Ron Howard
4802,150,Apollo 13,screenwriter,Jim Lovell
4803,150,Apollo 13,screenwriter,Jeffrey Kluger
4804,150,Apollo 13,screenwriter,Al Reinert
4805,150,Apollo 13,screenwriter,"William Broyles, Jr."
...,...,...,...,...
4924,150,Apollo 13,nominated for,Writers Guild of America Award for Best Adapte...
4925,150,Apollo 13,nominated for,Academy Award for Best Original Dramatic Score
4926,150,Apollo 13,executive producer,Todd Hallowell
4927,150,Apollo 13,title,Apollo 13
4928,150,Apollo 13,production designer,Merideth