In [1]:
import numpy as np
import pandas as pd

In [2]:
lastfm = pd.read_csv("../datasets/hetrec2011-lastfm-2k/user_artists.dat", sep='\t')
lastfm.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [3]:
artists = pd.read_csv("../datasets/hetrec2011-lastfm-2k/artists.dat", sep='\t')
artists.head()

,id,name,url,pictureURL
0,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg
1,2,Diary of Dreams,http://www.last.fm/music/Diary+of+Dreams,http://userserve-ak.last.fm/serve/252/3052066.jpg
2,3,Carpathian Forest,http://www.last.fm/music/Carpathian+Forest,http://userserve-ak.last.fm/serve/252/40222717...
3,4,Moi dix Mois,http://www.last.fm/music/Moi+dix+Mois,http://userserve-ak.last.fm/serve/252/54697835...
4,5,Bella Morte,http://www.last.fm/music/Bella+Morte,http://userserve-ak.last.fm/serve/252/14789013...

In [4]:
kg_artists = pd.read_csv("../knowledge-graphs/props_artists_id.csv")
kg_artists.head()

,id,artist,prop,obj,wiki_id,name
0,1,Malice Mizer,work period (start),1992-01-01T00:00:00Z,Q853545,MALICE MIZER
1,1,Malice Mizer,has part,Mana,Q853545,MALICE MIZER
2,1,Malice Mizer,country of origin,Japan,Q853545,MALICE MIZER
3,1,Malice Mizer,record label,Nippon Columbia,Q853545,MALICE MIZER
4,1,Malice Mizer,record label,Columbia Records,Q853545,MALICE MIZER

In [5]:
# number of unique movies that are on movie interactions
artits_id = lastfm["artistID"].unique()
print(len(artits_id))

17632

In [6]:
# number of movies in listed in the item file
all_artists_id = artists["id"].unique()
print(len(all_artists_id))

17632

In [7]:
kg_artits_id = kg_artists["id"].unique()
print(len(kg_artits_id))

11646

In [8]:
intersection = set(artits_id).intersection(set(kg_artits_id))
list(intersection)[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
len(intersection)

11646

In [10]:
list(set(kg_artits_id).difference(set(artits_id)))

[]

In [11]:
union = set(artits_id).union(set(kg_artits_id))
len(list(union))

17632

In [12]:
len(list(intersection)) / len(list(union))

0.6605036297640653

In [13]:
lastfm.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

### Keeping in the dataset only artists contained in the KG

In [14]:
processed = lastfm.loc[lastfm["artistID"].isin(list(intersection))]
processed.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [15]:
lastfm.shape

(92834, 3)

In [16]:
processed.shape

(83038, 3)

In [17]:
processed.shape[0]/lastfm.shape[0]

0.8944783161341749

In [18]:
# saving new dataset
processed.to_csv("../datasets/hetrec2011-lastfm-2k/ratings_processed.csv", header=True, index=False)

In [19]:
# reading new dataset 
r_processed = pd.read_csv("../datasets/hetrec2011-lastfm-2k/ratings_processed.csv")
print(r_processed.shape[0]/lastfm.shape[0])

0.8944783161341749

In [20]:
r_processed.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [21]:
r_processed.shape

(83038, 3)

In [22]:
processsed_artists = r_processed['artistID'].unique()
print(len(processsed_artists))

11646

In [23]:
kg_artits_id.sort()
processsed_artists.sort()
print(np.array_equal(kg_artits_id, processsed_artists))

True

In [24]:
print(processsed_artists)
print(kg_artits_id)

[    1     2     3 ... 18514 18516 18517]
[    1     2     3 ... 18514 18516 18517]